.resources__logo{
    width:270px;
    height:36px;
    background-size: contain;
    margin-left: 0;
    display: inline;
}
.resources__logo:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: underline;
    animation: opacity linear 1s;
}